In [19]:
# Import required library
import pandas as pd

In [20]:
# Load the dataset
reviews = pd.read_csv("C:/Users/SLL26/Desktop/Data Science and Analytics/CS5706 MACHINE LEARNING/CS5811 Coursework/reviews.csv")

In [21]:
reviews.head()

,ReviewId,RecipeId,AuthorId,AuthorName,Rating,Review,DateSubmitted,DateModified
0,2,992,2008,gayg msft,5,better than any you can get at a restaurant!,2000-01-25T21:44:00Z,2000-01-25T21:44:00Z
1,7,4384,1634,Bill Hilbrich,4,"I cut back on the mayo, and made up the differ...",2001-10-17T16:49:59Z,2001-10-17T16:49:59Z
2,9,4523,2046,Gay Gilmore ckpt,2,i think i did something wrong because i could ...,2000-02-25T09:00:00Z,2000-02-25T09:00:00Z
3,13,7435,1773,Malarkey Test,5,easily the best i have ever had. juicy flavor...,2000-03-13T21:15:00Z,2000-03-13T21:15:00Z
4,14,44,2085,Tony Small,5,An excellent dish.,2000-03-28T12:51:00Z,2000-03-28T12:51:00Z

In [22]:
# Apply groupby with aggregate to get the min rating per Recipe
minRating = reviews.groupby('RecipeId').agg({'Rating': [ 'min']})

In [23]:
minRating.head()

         Rating
            min
RecipeId
38            4
39            3
40            1
41            4
42            0

In [24]:
# Apply groupby with aggregate to get the max rating per Recipe
maxRating = reviews.groupby('RecipeId').agg({'Rating': ['max']})

In [25]:
maxRating.head()

         Rating
            max
RecipeId
38            5
39            3
40            5
41            5
42            5

In [26]:
# Apply groupby with aggregate to get the mean rating per Recipe
meanRating = reviews.groupby('RecipeId').agg({'Rating': ['mean']})

In [27]:
meanRating.head()

            Rating
              mean
RecipeId
38        4.250000
39        3.000000
40        4.333333
41        4.500000
42        2.666667